<div class="centered-container">
  <p>The audience for creators is now global, but the current systems for audiences to give back to creators hasn't kept up.</p>
  <p>We're building the solution for artists to make a living online-a platform to directly connect creators and their fans.</p>

  <p>
    <a class="button button-small" href="https://www.reddit.com/r/lfofm">Reddit</a>
    <a class="button button-small" href="https://www.twitter.com/lfoapp">Twitter</a>
    <a class="button button-small" href="https://www.gitlab.com/lfofm">GitLab</a>
  </p>
</div>
