<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="ZGgi73WjNaXKGFhZ4MH4-x6YC-huIV3WfVVl7X7RnUo" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ .Hugo.Generator }}
		<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
		{{ end }}
	</head>
