<div class="profile">
    <section class="centered-container wrapper">
        <header id="header">
            <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.png"/>
            <h1>{{ .Site.Params.name }}</h1>
            <h2>{{ .Site.Params.bio | markdownify }}</h2>
        </header>
    </section>
</div>
